.metadata/
.recommenders/
firstShoppingCart/.settings/
firstShoppingCart/assets/
firstShoppingCart/bin/
firstShoppingCart/libs/
firstShoppingCart/ic_launcher-web.png
eMenu/.settings/
eMenu/assets/
eMenu/bin/
eMenu/libs/
eMenu/ic_launcher-web.png
